<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecmdapps.distro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ecmdapps.distro.providerserver.ApprovalActivity" android:parentActivityName="com.ecmdapps.distro.MainActivity" android:theme="@android:style/Theme.DeviceDefault.Dialog" />
        <activity android:name="com.ecmdapps.distro.providerserver.GetCredentialsActivity" android:parentActivityName="com.ecmdapps.distro.MainActivity" android:theme="@android:style/Theme.DeviceDefault.Dialog" />
        <activity android:name="com.ecmdapps.distro.providerserver.DHDisplayActivity" android:parentActivityName="com.ecmdapps.distro.MainActivity" android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar" />
    </application>

</manifest>